$black:#272727;
$white: #ffffff;
$gray: #a3a3a3;
$gray-light: #e5e5e5;
$red: #ff0000;
$red-dark: #cc0000;
$blue: #0077ef;
$blue-light: #0077ef;

// Buttons
$primary-button: $blue;
$primary-button-hover: $blue-light;
$secondary-button: $gray;
$secondary-button-hover: $gray-light;
$disabled-button: $gray-light;