@import './_externalVariables';

$base-font: 'Titillium', sans-serif;

$font-weight-normal: 400;
$font-weight-light: 300;
$font-weight-bold: 800;

$h1-font-size: 3rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.125rem;

$body-font-size: 1rem;
$body-font-small: .875rem;
$body-font-x-small: .75rem;


body {
  font-family: $base-font;
  margin: 0;
  color: $white;
  box-sizing: border-box;
}

h1 {
  font-weight: $font-weight-bold;
  font-family: $base-font;
  margin: 0;
  font-size: $h1-font-size;
}

h2 {
  font-weight: $font-weight-bold;
  font-family: $base-font;
  margin: 0;
  font-size: $h2-font-size;
}

h3 {
  font-weight: $font-weight-bold;
  font-family: $base-font;
  margin: 0;
  font-size: $h3-font-size;
}

h4 {
  font-weight: $font-weight-bold;
  font-size: $body-font-small;
  font-family: $base-font;
  margin: 0;
}

h5 {
  font-weight: $font-weight-bold;
  font-size: $body-font-x-small;
  font-family: $base-font;
  margin: 0;
}

p {
  font-weight: $font-weight-normal;
  font-size: $body-font-x-small;
  font-family: $base-font;
  margin: 0;
}